---
import Section from "../Section.astro"
import { basics as basicsData } from "@cv"
import type { Basics } from "@/data/cv"
const basics = basicsData as Basics
const { summary } = basics
---

<Section title="About me">
  <p>
    {summary}
  </p>
</Section>
